In [3]:
import pandas as pd

data = pd.read_csv('Data/datos_trabajados_2014_2017.csv', sep=';')

In [4]:
data.head()

,credito_numero_sucursal,credito_cantidad_total_cuotas,credito_importe_cuota,credito_ultima_cuota_paga,credito_monto,credito_capital,credito_estado,credito_tipo_credito,credito_tna,credito_tem,credito_importe_interes,credito_fecha_alta,cliente_cantidad_creditos,cliente_sexo,cliente_sucursal_asociada,cliente_ingresos,cliente_codigo_provincia,cliente_codigo_nacionalidad,cliente_codigo_estado_civil,cliente_edad
0,136,1 a 12,1162.1,1 a 12,10458.9,7125.50,Cancelado,Efectivo,81.15,8.59,3333.40,2015-3,1 a 30,F,136,13500.0,BUE,ARG,SOLTERO,41 a 69
1,119,1 a 12,498.1,1 a 12,4482.9,3053.79,Cancelado,Efectivo,81.17,8.59,1429.11,2015-3,1 a 30,F,119,25000.0,BUE,ARG,CASADO,41 a 69
2,146,1 a 12,989.7,25 a 36,2969.1,2969.10,Cancelado,Consumo,0.00,0.00,0.00,2015-3,1 a 30,M,146,25000.0,LAR,ARG,CASADO,41 a 69
3,119,1 a 12,152.3,1 a 12,1827.6,1121.93,Cancelado,Efectivo,81.29,8.59,705.67,2015-3,31 a 60,F,119,23000.0,BUE,ARG,SOLTERO,70+
4,118,1 a 12,686.5,1 a 12,8238.0,5226.05,Cancelado,Consumo,75.18,7.98,3011.95,2015-3,1 a 30,F,118,2755.0,SAU,ARG,SOLTERO,21 a 40

In [5]:
data.columns

Index(['credito_numero_sucursal', 'credito_cantidad_total_cuotas',
       'credito_importe_cuota', 'credito_ultima_cuota_paga', 'credito_monto',
       'credito_capital', 'credito_estado', 'credito_tipo_credito',
       'credito_tna', 'credito_tem', 'credito_importe_interes',
       'credito_fecha_alta', 'cliente_cantidad_creditos', 'cliente_sexo',
       'cliente_sucursal_asociada', 'cliente_ingresos',
       'cliente_codigo_provincia', 'cliente_codigo_nacionalidad',
       'cliente_codigo_estado_civil', 'cliente_edad'],
      dtype='object')

In [6]:
data.credito_estado.value_counts()

Cancelado     859666
En legales    122607
Incobrable     41098
Anulado        19931
Pendiente       5273
Name: credito_estado, dtype: int64

In [ ]:
# En legales e incobrable es No pagado
# Anulado o Cancelado es Pagado
# Pendiente es el que tenemos que predecir